Source: libcariad-font-terminus6x12
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-font-terminus6x12
Replaces: libdisplaycore-font-terminus6x12
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Fonts
Depends: libcariad-core
Provides: Terminus6x12.h
Description: Terminus6x12
